################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App1/obj
/App1/bin/x86/Debug
/PlexPlaylistImport/bin/x86/Debug
/PlexPlaylistImport/obj
/PlexPlaylistImport/AppPackages
/PlexPlaylistImport/BundleArtifacts
/PlexPlaylistImport/*.pfx
/.vs
/*.cer
/*.p7b

